#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#sampleSentences {
    text-align: left;
}

tr {
    background-color: #343434;
}

th, td {
    padding-left: 20px;
    padding-right: 20px;
}

table {
    color: red;
}